<div class="w-full max-w-xs shadow-card rounded-3xl bg-primary">
	<div class="w-full h-52 pt-6 rounded-t-2xl">
    <img class="object-contain w-full h-full" src="{{ .Params.src }}" alt="SAA-C02">
  </div>
	<div class="p-6 flex flex-col justify-center items-center space-y-4">
		<p class="font-bold tracking-widest leading-none text-gray-800 text-xl text-center">{{ .Title }}</p>
    <p class="italic font-light">{{ .Summary }}</p>
		{{ partial "link-secondary.html" (dict "Title" "Verify" "Href" .Params.href) }}
	</div>
</div>
