<header class="h-screen flex flex-col justify-center items-center bg-black text-white text-center">
  {{ partial "navigation.html" . }}
	<p class="text-header text-2xl mb-2">Hi, I'm Hyun Lee.</p>
  <h1 class="text-header tracking-wide mb-2">AWS Certified Associate</h1>
	<p class="text-header text-2xl">With extensive background in consulting & development</p>
	<div class="w-full h-full absolute top-0 left-0" id="particles-js"></div>
<!--<div class="border border-red-400 h-80">
		<img class="filter drop-shadow-2xl max-w-full max-h-full" src="svgs/blob.svg">
  </div>-->
</header>
