name: Hugo CI

on: 
  push:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: hyunwl/hugo-nodejs:0.1.2
      options: --user 1001
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Copy dependencies from the theme
        run: hugo mod npm pack
      - name: Install dependencies
        run: npm install
      - name: Build production site
        run: hugo
      - name: Upload output file
        uses: actions/upload-artifact@v2
        with:
          name: hugo-prod
          path: public

  # TODO: Implement AWS CLI to sync artifact into S3 bucket
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Hugo production build as an artifact
        uses: actions/download-artifact@v2
        with:
          name: hugo-prod
      - run: echo "Implementation here!"
